@charset "utf-8";

/**********
필요시 해당사이트별로 갖다쓸것
**********/

/*Montserrat
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');
{font-family: 'Montserrat', sans-serif;}
*/
/*Titlllium Web
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;600;700&display=swap');
{font-family: 'Titillium Web', sans-serif;}
*/
/*
@font-face{font-family:'S-CoreDream-6Bold';font-style:normal;src:url(../../font/S-CoreDream-6Bold.woff) format("woff")}
@font-face{font-family:'S-CoreDream-5Medium';font-style:normal;src:url(../../font/S-CoreDream-5Medium.woff) format("woff")}
@font-face{font-family:'S-CoreDream-4Regular';font-style:normal;src:url(../../font/S-CoreDream-4Regular.woff) format("woff")}
@font-face{font-family:'S-CoreDream-3Light';font-style:normal;src:url(../../font/S-CoreDream-3Light.woff) format("woff")}
@font-face{font-family:'S-CoreDream-1Thin';font-style:normal;src:url(../../font/S-CoreDream-1Thin.woff) format("woff")}
@font-face{font-family:'Noto Thin';font-style:normal;src:url(../../font/NotoSans-Thin.woff2) format("woff2"),url(../../font/NotoSans-Thin.woff) format("woff")}
@font-face{font-family:'Noto Light';font-style:normal;src:url(../../font/NotoSans-Light.woff2) format("woff2"),url(../../font/NotoSans-Light.woff) format("woff")}
@font-face{font-family:'Noto DemiLight';font-style:normal;src:url(../../font/NotoSans-DemiLight.woff2) format("woff2"),url(../../font/NotoSans-DemiLight.woff) format("woff")}
@font-face{font-family:'Noto Regular';font-style:normal;src:url(../../font/NotoSans-Regular.woff2) format("woff2"),url(../../font/NotoSans-Regular.woff) format("woff")}
@font-face{font-family:'Noto Medium';font-style:normal;src:url(../../font/NotoSans-Medium.woff2) format("woff2"),url(../../font/NotoSans-Medium.woff) format("woff")}
@font-face{font-family:'Noto Bold';font-style:normal;src:url(../../font/NotoSans-Bold.woff2) format("woff2"),url(../../font/NotoSans-Bold.woff) format("woff")}
@font-face{font-family:'Noto Black';font-style:normal;src:url(../../font/NotoSans-Black.woff2) format("woff2"),url(../../font/NotoSans-Black.woff) format("woff")}
*/
/*
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Roboto:wght@100;300;400;700;900&display=swap');
*/
/*
	font-family: 'Noto Sans KR', sans-serif;
		Thin=100
		Light=300
		Regular=400
		Medium=500
		bold=700
		black=900
	font-family: 'Roboto', sans-serif;
		Thin=100
		Light=300
		Regular=400
		bold=700
		black=900
*/

@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

*,:after,:before,::after,::before{box-sizing:border-box;-webkit-text-size-adjust:100%;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
html,body{overflow:visible;width:100%;height:100%;font-family:Pretendard;/*font-family: 'Noto Sans KR', sans-serif;*/font-weight:300;line-height:1.5;font-size:18px;color:#000;letter-spacing:-0.5px;word-wrap:break-word;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,form,fieldset,p,button{margin:0;padding:0;}
body{word-break:break-all;}
header,article,section,nav,footer{display:block;}
img,fieldset,iframe,button{border:0 none;}
li{list-style:none;}
img{vertical-align:top;width:auto;max-width:100%;}
i,em,address{font-style:normal;}
label,button{cursor:pointer;}
button{background-color:transparent;overflow:visible;border:0;}
a,button,input{border-color:transparent;}
/*접근성신청시활성화a:focus,button:focus,input:focus{border:1px solid #000;}*/
a:link,a:active,a:visited{text-decoration:none;color:#000;}
a:hover{text-decoration:none;color:#000;transition:all .125s cubic-bezier(0.7,0,0.3,1);}
legend{*width:0;width:0;height:0;font-size:0;position:absolute;z-index:-1;}
table{width:100%;border-collapse:collapse;border-spacing:0;table-layout:fixed;text-align:center;}
caption{width:0;height:0;padding:0;font-size:0;opacity:0;}
th{text-align:center;}
input::-ms-clear{display:none;}
input,button{-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;}
input[type="radio"]{position:relative;top:2px;}
pre{white-space:pre-line;background-color:#fff;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;overflow-y:auto;}
select::-ms-expand{display:none;}
textarea{resize:none;}
figure{text-align:center;}
.simplemodal-wrap{font-size:13px;}
._objHtml{overflow:visible;}
h1,h2,h3,h4,h5,h6,strong{font-weight:400;}
._contentBuilder ._obj ._relative{position:relative;}

/*
.hidden{position:absolute;top:-9999px;left:-9999px;}
*/
.hidden{display:none !important;}
